/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.menu {
    color: white;
    font-size: 20px;
}

.menu li {
    margin-left: 20px;
}

.loginName {
    font-size: 18px;
    margin-top: 20px;
}

.formUser {
    margin: 20px;
}

.listOfProducts {
    margin-top: 30px;
}

.btnBack {
    margin-top: 20px;
}

.logo {
    border-radius: 50%;
}

.item {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

.productDetailImg {
    margin-bottom: 30px;
    margin-top: 30px;
}

.fullDescriptionDiv{
    margin-bottom: 20px;

}

.editImageBtn {
    margin-bottom: 15px;
}

.totalField {
    margin-top: 20px;
}

.btnChart {
    display: inline-block;
    margin-top: 10px;
}